body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/1.jpg);
    background-position:center;
    background-size:cover;
    position:relative;

}
.nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center;

}
nav img{
    width:150px;

}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative;



}
.nav-links ul li a{
    color:#fff;
    text-decoration:none;
    font-size:13px;
}
.nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: 2px;
        background:#f44336;
        display: block;
        margin:auto;
        transition:0.5s;
 }
.nav-links ul li:hover::after{
        width:100%;
        

 }
.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h1{
    font-size:62px;


}
.text-box p{
    margin: 10px 0 40px;
    font-size:14px;
    color:#fff;



}
.text-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;

}
.text-btn:hover{
    border:1px solid lightpink;
    background:lightpink;
    transition:1s;
}
nav .fa {
    display: none;
}

@media(max-width:700px){
    .text-box h1 {
        font-size: 20px;
    }


    .nav-links ul li{
    display:block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right:0px;
        text-align: left;
        z-index: 2;
        transition:1s;
    }
    nav .fa{
        display:block;
        color:white;
        margin:10px;
        font-size:22px;
        cursor:pointer;

    }
    .nav-links ul{
        padding:30px;
    }


}
.course{
    width: 80%;
    margin :auto;
    text-align:center;
    padding-top:100px;

}
h1{
    font-size:36px;
    font-weight:600;

}
p{
    color:black;
    font-size:14px;
    font-weight:300;
    line-height:22px;
    padding:10px;

}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis:31%;
    background:white;
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing:border-box;
    transition:0.2s;
}
h3{
    text-align:center;
    font-weight:600;
    margin:10px 0;


}
.course-col:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px){
    .row{
        flex-direction:column;

    }
}
.cont {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/1.jpg);
    background-position:center;
    background-size:cover;
    border-radius:10px;
    text-align:center;
    padding:100px 0;

}
.cont h1{
    color:white;
    margin-bottom:40px;
    padding:0;

}
@media(max-width:700px){
    .cont h1{
        font-size:24px;
    }
}

}
.icons .fa{
    color:red;
    margin:0 13px;
    cursor:pointer;
    padding:18px 0;



}
.sub-header{
height:50vh;
width:100%;
background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/1.jpg);
background-position:center;
background-size:cover;
text-align:center;
color:white;

}
.sub-header h1{
    margin-top:100px;
}
.events{
    width:80%;
    margin:auto;
    padding-top:80px;
    padding-bottom:50px;

}
.event-col{
    flex-basis:48%;
    padding:30px 2px;

}
.events.col img{
    width:100%

}
.events-col h1{
    padding-top:0;
}
.about-col p{
    padding:15px 0 25px;
}
.location{
    width:80%;
    margin:auto;
    padding: 80px 0;


}
.location iframe{
    width:100%;
} 
.contact-us{
    width:80%;
    margin:auto;

}
.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display:flex;
    align-items:center;
    margin-bottom:40px;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .events-left {
        width: 45%;
        float: left;
        padding: 20px 10px;
      }
      
      .events-right {
        width: 45%;
        float: right;
        padding: 20px 10px;
      }
      
      .events-container-left {
        margin-top: 10px;
        margin-bottom: 30px;
        min-height: 230px;
      }
      
      .events-container-right {
        margin-top: 10px;
        margin-bottom: 30px;
        min-height: 230px;
      }
      .footer{
        width:100%;
        text-align:center;
        padding:30px 0;
    
    
    
    }
    footer h4{
        margin-bottom:25px;
        margin-top:20px;
        font-weight:600;
        
    }

    #toggle, #toggle1, #toggle2, #toggle3, #toggle4, #toggle5  {
        padding: 6px 10px;
        border: none;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 8px;
        background-color: #1f5679;
        width: 250px;
        margin: 30px 40px 20px 40px;
        color: white;
        font-size: 16px;
        text-shadow: 0 3px 5px black;
    }